REM #### IMPORTANT BITS ####
set nbminer_executable=C:\Program Files (x86)\NBMiner\nbminer.exe
set DASH_wallet=[YOUR_DASH_ADDRESS_HERE]
set SHIB_wallet=[YOUR_SHIB_ADDRESS_HERE]
set worker_name=[YOUR_WORKER_NAME_HERE]
REM ########

set current_coin_file=conf/current_coin.txt 
set afterburner_executable=C:\Program Files (x86)\MSI Afterburner\MSIAfterburner.exe
set afterburner_mining_profile=2
set afterburner_default_profile=1
set openrgb_executable=C:\Program Files (x86)\OpenRGB Windows 64-bit\OpenRGB.exe
set openrgb_mining_profile=mining
set openrgb_default_profile=default
set coin_list=DASH SHIB
